<h2>Polling Unit Results</h2>

<form method="get">
    <select name="pu_id">
        <option value="">-- Select Polling Unit --</option>
        {% for pu in polling_units %}
        <option value="{{ pu.uniqueid }}">
            {{ pu.polling_unit_name }}
        </option>

        </option>
        {% endfor %}
    </select>
    <button type="submit">View Results</button>
</form>

{% if results %}
<table border="1" cellpadding="5">
    <tr>
        <th>Party</th>
        <th>Score</th>
    </tr>
    {% for row in results %}
    <tr>
        <td>{{ row.party_abbreviation }}</td>
        <td>{{ row.party_score }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<br>
<a href="/">Back Home</a>
